@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('header.css');
@import url('footer.css');

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.back-photo{
    position: absolute;
    top:0;
    height: 500px;
    width: 100vw;
    z-index: -1;
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
    filter: blur(1px) brightness(0.7);
}

.main{
    flex-basis: 1;
}

h1,h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
}
h1{
    color: white;
    margin-top: 100px;
}
h4{
    color: orangered;
}

.content{
    background-color: white;;
    border-radius: 5px;
    min-width: 800px;
    margin: 0 50px;
    padding: 30px;
    margin-top: 100px;
}