body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.product_list{
    display: flex;
    flex-wrap: wrap;
}

.card_product{
    border: 1px solid grey;
    width: 300px;
    padding: 15px;
    margin: 15px;
}

.card_product img{
    width: 270px;
}

.cart_logo{
    position: fixed;
    top: 0;
    right: 0;
    font: 33pt Helvetica;
    font-weight: 800;
    color: blueviolet;
    cursor: pointer;
    transition: 1s color;
}

.cart_logo:hover{
    color: rgb(95, 18, 168);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-color: rgba(117, 117, 115, 0.644);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal .modal_cart{
    background-color: cornsilk;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal table{
    border-collapse: collapse;
}

.modal table td{
    border-top: 1px solid grey;
    padding: 15px;
}

.modal .inp_product_cart{
    width: 30px;
}

.close{
    display: none;
}

.categories{
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

.categories .categories_name{
    padding: 15px 5px;
}

.categories .categories_name:hover{
    background-color: darkcyan;
    cursor: pointer;
    color: wheat;
}

.notification{
    position: fixed;
    bottom: -55px;
    right: 0;
    color: wheat;
    height: 40px;
    transition: bottom 2s;
}

.notification strong{
    padding: 15px;
    background-color: tomato;
}

.notification.show_notification{
    bottom: 0;
}