.row{
    /* font-size: 0; */
    clear: both;
}

[class^="col"]{
    /* font-size: 16px; */
    /* display: inline-block; */
    float: left;
    box-sizing: border-box;
}

.col-1{width: 7.142857142857143%;}
.col-2{width: 14.28571428571429%;}
.col-3{width: 21.42857142857143%;}
.col-4{width: 28.57142857142857%;}
.col-5{width: 35.71428571428571%;}
.col-6{width: 42.85714285714286%;}
.col-7{width: 50%;}
.col-8{width: 57.142857142857143%;}
.col-9{width: 64.28571428571429%;}
.col-10{width: 71.42857142857143%;}
.col-11{width: 78.57142857142857%;}
.col-12{width: 85.71428571428571%;}
.col-13{width: 92.85714285714286%;}
.col-14{width: 100%;}

@media screen and (max-width: 575.999px){
    .col-q-1{width: 7.142857142857143%;}
    .col-q-2{width: 14.28571428571429%;}
    .col-q-3{width: 21.42857142857143%;}
    .col-q-4{width: 28.57142857142857%;}
    .col-q-5{width: 35.71428571428571%;}
    .col-q-6{width: 42.85714285714286%;}
    .col-q-7{width: 50%;}
    .col-q-8{width: 57.142857142857143%;}
    .col-q-9{width: 64.28571428571429%;}
    .col-q-10{width: 71.42857142857143%;}
    .col-q-11{width: 78.57142857142857%;}
    .col-q-12{width: 85.71428571428571%;}
    .col-q-13{width: 92.85714285714286%;}
    .col-q-14{width: 100%;}
}

@media screen and (min-width: 576px){
    .col-w-1{width: 7.142857142857143%;}
    .col-w-2{width: 14.28571428571429%;}
    .col-w-3{width: 21.42857142857143%;}
    .col-w-4{width: 28.57142857142857%;}
    .col-w-5{width: 35.71428571428571%;}
    .col-w-6{width: 42.85714285714286%;}
    .col-w-7{width: 50%;}
    .col-w-8{width: 57.142857142857143%;}
    .col-w-9{width: 64.28571428571429%;}
    .col-w-10{width: 71.42857142857143%;}
    .col-w-11{width: 78.57142857142857%;}
    .col-w-12{width: 85.71428571428571%;}
    .col-w-13{width: 92.85714285714286%;}
    .col-w-14{width: 100%;}
}
@media screen and (min-width: 768px){
    .col-e-1{width: 7.142857142857143%;}
    .col-e-2{width: 14.28571428571429%;}
    .col-e-3{width: 21.42857142857143%;}
    .col-e-4{width: 28.57142857142857%;}
    .col-e-5{width: 35.71428571428571%;}
    .col-e-6{width: 42.85714285714286%;}
    .col-e-7{width: 50%;}
    .col-e-8{width: 57.142857142857143%;}
    .col-e-9{width: 64.28571428571429%;}
    .col-e-10{width: 71.42857142857143%;}
    .col-e-11{width: 78.57142857142857%;}
    .col-e-12{width: 85.71428571428571%;}
    .col-e-13{width: 92.85714285714286%;}
    .col-e-14{width: 100%;}
}